<% provide(:title, "Landing") %>
	
	<!-- Page head -->
		
			
			<!-- end page head -->

		<div class="row" id = "jumbo">
			
			<div class="col-lg-2">
			</div>
			
			<div class="col-lg-3 twoBoxes">
				<div class="panel panel-default" id = "signUp">
					<div class="panel-heading" id = "signUpHead"><h3>Get started!</h3></div>
					<div class="panel-body">
						<h4>Join now! It's quick and easy.</h4>
						<br>
					</div>					
					
					<span class="input-group-btn okButton">
						<button class="btn btn-lg btn-primary okButton" id = "okButton2" type="button">
							<%= link_to "Sign up", signup_path %>
						</button>
					</span>
					
				</div>
			</div>

			<div class="col-lg-2">
			</div>
			
			<div class="col-lg-3 twoBoxes">
				<div class="panel panel-default" id = "signUp">
					<div class="panel-heading" id = "signUpHead"><h3>Welcome Back!</h3></div>
					<div class="panel-body">
						<h4>Click below to log in!</h4>
						<br>
					</div>					
					<span class="input-group-btn okButton">
						<button class="btn btn-lg btn-primary okButton" id = "okButton2" type="button">
							<%= link_to "Sign in", login_path %>
						</button>
					</span>
				</div>
			</div>
			<div class="col-lg-2">
			</div>
			
		</div>
		  




		<div class="container">		  
			<hr>		  
			<div class="row" >
				<div class="col-md-4">
				  <div class="panel panel-default">
					<div class="panel-heading"><h3>Find Your Tickets</h3></div>
					<div class="panel-body triple">With our powerful search engine and thousands of listings, you're sure to find 
					the tickets you want when you want them.
					</div>
				  </div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default" >
					<div class="panel-heading" ><h3>Connect With Your Audience</h3></div>
					<div class="panel-body triple">Post your event, and our community of millions of fans will come to you.
					</div>
				  </div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
					<div class="panel-heading"><h3>Explore And Discover</h3></div>
					<div class="panel-body triple">Our nationwide network of fans and event promoters make it easy to find the next big thing.
					</div>
				  </div>
				</div>
			</div>
		</div>
