<%= form_for(@order) do |f| %>

  
  
  <!-- Ticket number form. Needs to send information to back-end
  and verify with database 
  **************************************************************
  ************************************************************
  *************************************************************
  -->
  
  <form id="ticket_number">
  	
  	<!-- <input type="text" name="numberOfTickets"> -->
  	
  	<div class="field">
    <%= f.label "Please enter the number of tickets:" %><br>
    <%= f.number_field :tickets_purchased %>
    </div>
  	
  	<br>

  <br>
  <br>
  
  <!-- Page control buttons. Place order and cancel -->
  <%= f.submit %>
  <div class="bookingButtons" id="orderButton"><p><b>Place Order</b></p></div>
  
  </form>
<% end %>