<div class="container-full" >
  <div class="row" > 
  	<div class="col-lg-2">
  	</div>
  	<div class="col-lg-8" id="titleBar">
  		<div class="col-lg-8">
  			<h1>Clickety Ticket</h1>
  		</div>
  		<div class="col-lg-3">
  		</div>
  		<div class="col-lg-1">	
  			<!--<img src = "CTImages/logo1.png" height = "75" width = "86" />-->
  			<%= image_tag("logo1.png", height: "75", width: "86") %>
  		</div>
  	</div>		
  	<div class="col-lg-2">
  	</div>
  </div>